<h1>トレーニングメニュー削除</h1>
<%= form_with(url: menus_destroy_path, method: :delete, local: true) do |f| %>
  <ul>
    <% @menus.each do |menu| %>
      <li><%= check_box_tag "deletes[]", menu.id %><%= menu.name %></li>
    <% end %>
  </ul>
  <%= f.submit '選択項目を削除する', data: { confirm: '本当に削除してよろしいですか？' } %>
<% end %>
<%= link_to 'メインメニューに戻る', main_menus_index_path %>