<div class="text-center">
  <h1><%= @menu.name %></h1>
  <%= form_with(url: lifts_edit_path, method: :get, local: true) do |f| %>
    <% position_number = 1 %>
    <%= link_to '種目を追加する', new_lift_path(id: @menu.id, position: position_number), class: 'btn btn-primary col-lg-8 mb-2' %>
    <br>
    <% @lifts.each do |lift| %>
      <div>
        <div class="form-check">
          <ul>
            <% if position_number == 1 %>
            <li><input class="form-check-input" type="radio" name="lift_edit" value="<%= lift.id %>" id="radio-menu-edit-<%= lift.position %>" checked ><label class="form-check-label" for="radio-menu-edit-<%= lift.position %>"><%= lift.position %>.<%= lift.name %></label></li>
            <% else %>
            <li><input class="form-check-input" type="radio" name="lift_edit" value="<%= lift.id %>" id="radio-menu-edit-<%= lift.position %>"><label class="form-check-label" for="radio-menu-edit-<%= lift.position %>"><%= lift.position %>.<%= lift.name %></label></li>
            <% end %>
            <li>(<%= lift.set_count %>set・インターバル：<%= lift.interval %>秒)</li>
          </ul>
        </div>
        <div class="row">
          <div class="col-6 offset-3">
            <table align="center">
              <% part_count = 1 %>
              <% lift.parts.order(id: :asc).each do |part| %>
              <tr>
                <td><%= part_count %>set：</td>
                <td><%= part.reps %>回：</td>
                <td><%= part.weight %>kg</td>
              </tr>
              <% part_count += 1%>
              <% end %> <!-- partのeach -->
            </table>
          </div>
        </div>
      </div>
      <% position_number += 1%>
      <hr>
      <%= link_to '種目を追加する', new_lift_path(id: @menu.id, position: position_number), class: 'btn btn-primary col-lg-8 mb-2' %>
      <hr>
    <% end %>
    <%= link_to '並替',lifts_position_path(id: @menu.id), class: 'btn btn-primary' %>
    <%= f.submit '編集する', class: 'btn btn-primary col-6' %>
    <%= link_to '削除',lifts_delete_path(id: @menu.id), class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'トレーニングメニュー一覧に戻る', menus_path, class: 'btn btn-primary col-lg-8 mb-2 mt-4' %>
</div>