<h1><%= @menu.name %></h1>
<%= form_with(url: lifts_destroy_path, method: :delete, local: true) do |f| %>
  <ul>
    <% @lifts.each do |lift| %>
      <div>
        <li><%= check_box_tag "deletes[]", lift.id %><%= label_tag :deletes_, lift.name %></li>
      </div>
    <% end %>
  </ul>
  <%= hidden_field_tag :menu_id, @menu.id %>
  <%= f.submit '選択項目を削除する', data: { confirm: '本当に削除してよろしいですか？' } %>
<% end %>
<%= link_to 'トレーニングメニュー一覧に戻る', edit_menu_path(id: @menu.id) %>