<h1><%= @menu.name %></h1>
<%= form_with(url: lifts_destroy_path, method: :delete, local: true) do |f| %>
  <ul>
    <% @lifts.each do |lift| %>
      <li><%= check_box_tag "deletes[]", lift.id %><%= lift.name %></li>
    <% end %>
  </ul>
  <%= hidden_field_tag :menu_id, @menu.id %>
  <%= f.submit '選択項目を削除する', data: { confirm: '本当に削除してよろしいですか？' } %>
<% end %>
<%= link_to 'メインメニューに戻る', main_menus_index_path %>