<h1><%= @menu.name %></h1>
<table>
  <% @lifts.each do |lift| %>
    <tr>
      <td><% if lift.first? %>
  			&nbsp;
  		<% else %>
  			<%= link_to '↑', move_higher_path(id: lift.id), method: :post %>
  		<% end %></td>
      <td><%= lift.name %></td>
      <td><% if lift.last? %>
  			&nbsp;
  		<% else %>
  			<%= link_to '↓', move_lower_path(id: lift.id), method: :post %>
  		<% end %></td>
    </tr>
  <% end %>
</table>
<%= link_to '確定', edit_menu_path(id: @menu.id) %>